.container {
  @include outer-container;
  margin-top: $header-height * 2;
  margin-bottom: 120px;
  padding-left: $base-spacing;
  padding-right: $base-spacing;
}

.faqs {
  ul {
    padding: 0;

    li {
      list-style: none;
    }
  }

  code {
    background: $code-element-background-color;
  }

  .questions {
    margin-top: 60px;

    li {
      line-height: 2.4;
    }
  }

  .answers {
    margin-top: 40px;

    .answer {
      padding-top: 100px;
      margin-top: -90px;
    }

    p.question {
      color: #999;
    }
  }

  .answer-wrapper {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: $base-spacing;
    padding-right: $base-spacing;
    margin-left: -$base-spacing;
    margin-right: -$base-spacing;
    border-radius: $base-border-radius;
  }

  .answer:target .answer-wrapper {
    background-color: #fdf2cc;
    -webkit-transition: all 0.3s linear;
  }
}
