.code-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: $side-nav-width;
  z-index: -1;

  .code-background-actual {
    width: $method-code-width;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $code-background-color;
  }
}

code,
kbd,
pre,
samp {
  font-family: 'Source Code Pro', Menlo, monospace;
}

pre {
  background-color: $code-block-background-color;
  border-radius: $base-border-radius;
  font-size: 0.9em;
  margin: 10px 0;
  padding: 20px 25px;
}

.method-code {
  width: $method-code-width;
  float: right;
  position: relative;
  padding: $method-padding;
  padding-top: 88px;
  color: #e1e1e1;
  font-weight: 300;
  border-top: $code-border;

  h3 {
    font-weight: 300;
    margin: 0 0 .75em 0;
  }

  span.download {
    display: inline-block;
    float: right;
  }

  .method-example {
    padding: 15px 0;

    &:first-child {
      padding-top: 0;
    }

    p {
      margin: 0;
      color: #f2f2f2;

      &.filename {
        display: inline-block;
        color: #888;
      }
    }
  }

  table {
    font-size: 15px;
    border: 1px solid lighten($code-background-color, 4);
    border-radius: $base-border-radius;
    border-collapse: separate;

    th,
    td {
      padding: 13px 20px;
      border: none;
    }

    th {
      width: 180px;
      font-weight: 400;
      text-align: right;
    }

    tr:nth-child(2n + 1) {
      background-color: desaturate(darken($code-background-color, 2), 3);
    }

    tr:nth-child(2n) {
      background-color: desaturate(lighten($code-background-color, 2), 3);
    }

    tr:last-child {
      th:first-child {
        border-bottom-left-radius: $base-border-radius;
      }
      td:last-child {
        border-bottom-right-radius: $base-border-radius;
      }
    }

    tr:first-child {
      th:first-child {
        border-top-left-radius: $base-border-radius;
      }

      td:last-child {
        border-top-right-radius: $base-border-radius;
      }
    }
  }
}

.main-content {
  .method:first-child {
    .method-copy {
      border: none;
    }

    .method-code {
      border: none;
    }
  }
}
