header {
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #444;
  border-bottom: #222;
  z-index: 10;

  div.logo {
    width: $side-bar-width;
    height: $header-height;
    padding: 15px 14px;
    float: left;
  }

  nav {
    display: inline-block;
    float: right;
    margin-right: 20px;
    font-weight: 300;

    ul li {
      display: inline-block;
      line-height: $header-height;
      margin-left: 20px;

      a {
        display: inline-block;
        padding: 0 20px;
        color: #bcbcbc;

        &.active {
          color: #fff;
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
