$side-nav-link-color: #777;
$side-nav-active-link-color: $action-color;

.side-nav {
  position: fixed;
  left: 0;
  top: $header-height;
  width: $side-bar-width;
  min-height: 100%;
  background-color: $side-bar-background-color;
  border-right: $base-border;

  ul {
    list-style-type: none;
    padding: 0;
  }

  h5 {
    margin: 0;
    padding: $side-bar-padding;
    font-weight: 400;
    color: $medium-gray;
  }

  ul.toc {
    padding-top: 12px;
    padding-bottom: 28px;

    ul.sidebar-nav-items a {
      padding-left: 42px;
      font-size: 14px;
    }

    li span.active-marker {
      float: left;
      display: inline-block;
      margin-top: 7px;
      margin-left: 4px;
      width: 6px;
      height: 25px;
    }

    li.active {
      & > span.active-marker {
        background-color: $side-nav-active-link-color;
      }

      & > a {
        color: $side-nav-active-link-color;
      }

      a:hover {
        color: $side-nav-active-link-color;
      }
    }

    li a {
      padding: $side-bar-padding;
      display: block;
      color: $side-nav-link-color;

      &:hover {
        text-decoration: underline;
        color: #000;
      }
    }
  }
}

.side-nav ul.sidebar-nav-items li span.active-marker {
  margin-top: 5px;
  height: 23px;
}
