.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: $side-bar-width;
  min-height: 100%;
  background-color: rgb(253, 252, 249);
  border-right: 1px solid #f3eee0;


  img.logo {
    margin: 14px 10px 6px;
    max-width: $side-bar-width - 60px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  h5 {
    margin: 0;
    padding: $side-bar-padding;
    font-weight: 400;
    color: $medium-gray;
  }

  ul.toc {
    border-top: $copy-border;
    border-bottom: $copy-border;
    padding-top: 12px;
    padding-bottom: 15px;

    ul.sidebar-nav-items a {
      padding-left: 42px;
      font-size: 14px;
    }

    li.active > a {
      color: #000;
      text-decoration: underline;
    }

    li a {
      padding: $side-bar-padding;
      display: block;

      &:hover {
        text-decoration: underline;;
      }
    }
  }

  .links {
    padding: 0 20px;
    margin-top: 18px;
    font-size: 14px;
    ul {
      li {
        display: inline;
        margin: 0 6px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      a {
        color: $medium-gray;

        &:hover {
          color: #555;
        }
      }
    }
  }
}
