<p>The prescription data comes from state prescription monitoring programs (PMPs). For more information on the PMP network and how PMP Gateway fits into it, check out the
<%= link_to 'architecture', 'index.html#architecture' %>
section in the documentation.</p>
