<section class="method" id="authentication">
  <div class="method-copy">
    <h1>Authentication</h1>
    <p>You must authenticate with a username and password for all API requests.</p>
    <p>All requests must be made over HTTPS. Calls made over plain HTTP will fail.</p>
    <aside class="notice">Your username and password is provided to you by the Appriss Project Manager who is handling your account.</aside>
  </div><!-- .method-copy -->

  <div class="method-code">
  </div>
</section>
