<div class="container email">
  <div class="email-header">
    <h1>Email to Introduce Customers To Our Documentation</h1>
    <p>Send this email to the customer when they are ready to implement the API.</p>
  </div>
  <div class="email-text">
    <p>This email is for the software developer(s) within your company who will be working with the PMP Gateway API.</p>

    <p>The PMP Gateway API documentation is available at: <%= link_to 'http://appriss-operations.github.io/pmp_gateway_docs', 'http://appriss-operations.github.io/pmp_gateway_docs/' %></p>

    <p>Our documentation is hosted publicly on <%= link_to 'GitHub', 'https://github.com/Appriss-Operations/pmp_gateway_docs' %>. If you have a question, please open an <%= link_to 'issue', 'https://github.com/Appriss-Operations/pmp_gateway_docs/issues' %> on the GitHub repo. This will ensure that you get a prompt reply from the correct technical person.</p>
  </div>
</div>
