<section class="method" id="intro">
  <div class="method-copy">
    <h1>Introduction</h1>
    <p>Welcome to the PMP Gateway API documentation. This API reference provides information on available endpoints and how to interact with them.</p>
    <p>Using the PMP Gateway API, you can integrate patient prescription history data into your applications.</p>
    <p>This API is <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a>ful and uses XML formatted requests and responses.</p>
    <p>NOTE: XML interprets certain characters in ways that may cause unexpected errors. In particular you should be careful about using the &amp; (ampersand) character in data elements.</p>
    <h3>Questions & Feedback</h3>
    <p>This documentation and all example code is available on GitHub. If you have questions or feedback the best way to contact us is to
      <%= link_to 'open an "issue"', 'https://github.com/Appriss-Operations/pmp_gateway_docs/issues', target: :_blank %>
      on our
      <%= link_to 'GitHub project space', 'https://github.com/Appriss-Operations/pmp_gateway_docs', target: :_blank %>.
    </p>
  </div><!-- .method-copy -->

  <div class="method-code">
    <div class="method-example">
      <p>Example code is provided for each API request. To get started, you can make requests against the testing environment using the code examples and the XML request data they reference.</p>
    </div>
  </div><!-- .method-code -->
</section>
