<section class="method" id="patient-response">
  <div class="method-copy">
    <h1>Patient Response</h1>

    <p>A Patient Response contains the results of the searches made on the PMP systems. If any of the PMP searches are successful, the Patient Response will include a link to a prescription report. The Patient Response will also sometimes include additional information about the results of the search. For details, check out the <%= link_to 'Gateway v5 schema', './data/gateway_v5_schema.xsd' %> .</p>

    <p>Because of the distributed nature of the <%= link_to 'PMP network', '#pmp-network' %>, there are many factors which impact a Patient Response. This section explains some of the common responses and what they mean.</p>

    <p><code>&#60;Report&#62;</code>. Typically included in the Patient Response and summarizes any successful searches.  <code>&#60;Response&#62;</code> nodes may also display based upon the type of unsuccessful response from the corresponding PMP.</p>

    <p><code>&#60;NarxCheckScore&#62;</code>. This element will be included in the response if the Licensee is configured to receive NARxCHECK reports rather than Prescription History reports.</p>
  </div><!-- .method-copy -->

  <div class="method-code">
    <div class="method-example method-example-request-data">
      <h3>Example Patient Response</h3>
<% code('xml') do %>
  <% File.open("#{root}/source/v5/data/patient_response.xml", 'rb').read %>
<% end %>
    </div>
  </div><!-- .method-code -->
</section>
