<div class="copy-group">
  <h3>Response Details</h3>
  <p>The <code>Pmp</code> node contains the state abbreviation for the PMP system which the response is for.</p>
  <p>The <code>Message</code> node will be a simple text explanation of what happened. This should be appropriate to display to users.</p>
  <p>The <code>Details</code> node will be present if there are details about the error beyond the message. This is especially important for responses involving multiple matches, as it is what indicates that the error was a multiple match error in particular.</p>
  <p>The <code>Source</code> node describes where in the request lifecycle the error originated. This may be helpful in troubleshooting.</p>
</div>
