<section class="method" id="pmp-network">
  <div class="method-copy">
    <h1>PMP Network</h1>
    <p>PMP Gateway gets prescription data from a distributed network of state PMP systems. This section explains the architecture of the PMP network and how PMP Gateway fits into it.</p>

    <p><strong>State PMP Systems</strong> store prescription data for patients and allow authorized users to request or commit prescription data.</p>
    <p><strong><%= link_to 'PMP Interconnect', 'http://www.nabp.net/programs/pmp-interconnect/nabp-pmp-interconnect' %></strong> facilitates communications between state PMP systems. One role of PMP Interconnect is to manage permissions for how state PMP systems communicate with each other.</p>
    <p><strong>PMP Gateway</strong> connects to PMP Interconnect, providing an interface for healthcare providers to query patient prescription data.</p>

    <div class="copy-group">
      <h3>Consequences of Distributed Architecture</h3>
      <p>The distributed architecture of the PMP system impacts how PMP Gateway functions. Some of the consequences:</p>
      <ul>
        <li>Prescription data requests can only be as fast as the slowest PMP being queried. Consequently, the average response time is 7 seconds.</li>
        <li>Errors may occur at any point in the network and cause patient requests to fail or return incomplete data. If an error occurs, the <em>patient response</em> will include a description of the error and where it occured.</li>
      </ul>
    </div>
  </div><!-- .method-copy -->

  <div class="method-code">
    <%= link_to (image_tag 'gateway_diagram.png', alt: 'PMP Diagram'), '/images/gateway_diagram.png' %>
  </div><!-- .method-code -->
</section>