<section class="method" id="report-response-error">
  <div class="method-copy">
    <h2>Error</h2>
  </div><!-- .method-copy -->

  <div class="method-code">
    <div class="method-example method-example-request-data">
      <h3>Example Response Data</h3>
      <p class="filename">report_response__error.xml</p>
      <span class="download">
        <a href="./data/report_response__error.xml" download>download</a>
      </span>
      <% code('xml') do %>
        <% File.open("#{root}/source/v5/data/report_response__error.xml", 'rb').read %>
      <% end %>
    </div>
  </div><!-- .method-code -->
</section>
