<section class="method" id="report-response">
  <div class="method-copy">
    <h1>Report Response</h1>

    <p>The response will be either the actual report content in html or a Report Response. Depending upon the Licensee's configuration, the report type will be either a Prescription History report or a NARxCHECK report.</p>
  </div><!-- .method-copy -->

  <div class="method-code">
    <div class="method-example method-example-request-data">
    </div>
  </div><!-- .method-code -->
</section>
