<div class="side-nav">
  <%= partial 'versions_nav' %>

  <ul class="toc">
    <li class="active">
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#intro">Introduction</a>
    </li>
    <li class="active">
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#overview">Overview</a>
    </li>
    <li>
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#pmp-network">PMP Network</a>
    </li>
    <li>
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#authentication">Authentication</a>
    </li>
    <li>
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#endpoints">Endpoints</a>
    </li>
    <li>
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#errors">Errors</a>
    </li>
    <li>
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#patient-request">Patient Request</a>
      <ul class="sidebar-nav-items">
        <li>
          <span class="active-marker">&nbsp;</span>
          <a class="sidebar-nav-item" href="#patient-request-minimal">Minimal Example</a>
        </li>
      </ul>
    </li>
    <li>
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#patient-response">Patient Response</a>
      <ul class="sidebar-nav-items">
        <li>
          <span class="active-marker">&nbsp;</span>
          <a class="sidebar-nav-item" href="#patient-response-disallowed">Disallowed</a>
        </li>
        <li>
          <span class="active-marker">&nbsp;</span>
          <a class="sidebar-nav-item" href="#patient-response-error">Error</a>
        </li>
      </ul>
    </li>
    <li>
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#report-request">Report Request</a>
      <ul class="sidebar-nav-items">
        <li>
          <span class="active-marker">&nbsp;</span>
          <a class="sidebar-nav-item" href="#report-request-minimal">Minimal Example</a>
        </li>
      </ul>
    </li>
    <li>
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#report-response">Report Response</a>
      <ul class="sidebar-nav-items">
        <li>
          <span class="active-marker">&nbsp;</span>
          <a class="sidebar-nav-item" href="#report-response-report-link">Report Link</a>
        </li>
        <li>
          <span class="active-marker">&nbsp;</span>
          <a class="sidebar-nav-item" href="#report-response-disallowed">Disallowed</a>
        </li>
        <li>
          <span class="active-marker">&nbsp;</span>
          <a class="sidebar-nav-item" href="#report-response-error">Error</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
