<section class="method" id="test-scenarios-user-matching">
  <div class="method-copy">
    <h2>User Matching</h2>

    <p>In all these scenarios, the RequestDestination element should contain KS, and the Location should also be KS.</p>

    <p><u>Variation on first name</u>: Test user Abbi (instead of Abby) Testpatient.</p>
    <p><u>Hyphenated last name</u>: Test user Joanne Sample-Testpatient.</p>
    <p><u>Patient has multiple results</u>: Test user Bob Testpatient.</p>

  </div><!-- .method-copy -->

  <div class="method-code">
    <div class="method-example method-example-request-data">
    </div>
  </div><!-- .method-code -->
</section>



