<section class="method" id="test-scenarios">
  <div class="method-copy">
    <h1>Test Scenarios</h1>

    <p>To verify an implementation against this API requires exercising several scenarios using test data in the Appriss test environment. This section provides descriptions of these scenarios using patients with test data in the test environment.</p>

  </div><!-- .method-copy -->

  <div class="method-code">
    <div class="method-example method-example-request-data">
    </div>
  </div><!-- .method-code -->
</section>

