<section class="method" id="test-patients">
  <div class="method-copy">
    <h1>Test Patients</h1>

    <p>The test environment includes patients in Kansas (KS) and Ohio (OH). This allows implementers to verify patient searches covering multiple states.
       Note that all test patients are fictional.
    </p>

    <hr/>
    <ul>
      <li> First Name: Abby </li>
      <li> Last Name: Testpatient </li>
      <li> DOB: 1970-07-01 </li>
      <li> Gender: Female </li>
      <li> Street Address: 165 Parkview Rd </li>
      <li> City: Columbus </li>
      <li> State: OH </li>
      <li> ZIP: 43209 </li>
      <li> Phone: 614-555-1994 </li>
      <li> Number of prescriptions: 10 </li>
      <li> State PMP: KS </li>
      <li> Person details: demonstrates various scenarios; moved at some point (address changes: 789 Niagara Road, Columbus, OH, 43232), typical variation in first name (Abigail), typo in first name (Abigale), moved and also a variation in first name (Abbi; 99 Scoop St, Wooster, OH, 44100).  </li>
    </ul>

    <hr/>
    <ul>
      <li>First Name: Alice </li>
      <li>Last Name: Testpatient </li>
      <li>DOB: 1900-01-01 </li>
      <li>Gender: Female </li>
      <li>Street Address: ... </li>
      <li>City: ... </li>
      <li>State: KS </li>
      <li>ZIP: 67203 </li>
      <li>Phone: ... </li>
      <li>Number of prescriptions: 1 </li>
      <li>State PMP: KS </li>
      <li>Person details: person with only one prescription </li>
    </ul>

    <hr/>
    <ul>
      <li>First Name: Betty </li>
      <li>Last Name: Testpatient </li>
      <li>DOB: 1970-01-01 </li>
      <li>Gender: Female </li>
      <li>Street Address: 123 Broadway </li>
      <li>City: Columbus </li>
      <li>State: OH </li>
      <li>ZIP: 43215 </li>
      <li>Phone: 614-547-8798 </li>
      <li>Number of prescriptions: 18 </li>
      <li>State PMP: KS, OH </li>
      <li>Person details: person commonly used by OARRS to demonstrate a good selection of prescription results </li>
    </ul>

    <hr/>
    <ul>
      <li>First Name: Bob </li>
      <li>Last Name: Testpatient </li>
      <li>DOB: 1900-01-01 </li>
      <li>Gender: Male </li>
      <li>Street Address: 1023 Not Real St </li>
      <li>City: Witchita </li>
      <li>State: KS </li>
      <li>ZIP: 67203 </li>
      <li>Phone: ... </li>
      <li>Number of prescriptions: 5 </li>
      <li>State PMP: KS  </li>
      <li>Person details: person with 5 prescriptions </li>
    </ul>

    <hr/>
    <ul>
      <li>First Name: Cameron  </li>
      <li>Last Name: Testpatient  </li>
      <li>DOB: 1980-08-08  </li>
      <li>Gender: Male </li>
      <li>Street Address: 123 Rhodes Way  </li>
      <li>City: Columbus </li>
      <li>State: OH </li>
      <li>ZIP: 43215 </li>
      <li>Phone: 614-555-1111 </li>
      <li>Number of prescriptions: 39 </li>
      <li>State PMP: KS </li>
      <li>Person details: person who may be abusing prescription medication with a very high number of prescriptions (overlapping from different doctors, dispensers, etc.) </li>
    </ul>

    <hr/>
    <ul>
      <li>First Name: Carol </li>
      <li>Last Name: Testpatient </li>
      <li>DOB: 1900-01-01 </li>
      <li>Gender: Female </li>
      <li>Street Address: 123 Fake Patient St </li>
      <li>City: Witchita </li>
      <li>State: KS </li>
      <li>ZIP: 67203 </li>
      <li>Phone: ... </li>
      <li>Number of prescriptions: 11 </li>
      <li>State PMP: KS </li>
      <li>Person details: person with 10 prescriptions and 1 for medical marijuana registry card </li>
    </ul>

    <hr/>
    <ul>
      <li>First Name: Chad </li>
      <li>Last Name: Testpatient </li>
      <li>DOB: 1970-02-01 </li>
      <li>Gender: Male </li>
      <li>Street Address: 555 N. Dale Drive </li>
      <li>City: Disney </li>
      <li>State: OH </li>
      <li>ZIP: 43215 </li>
      <li>Phone: 614-555-1956 </li>
      <li>Number of prescriptions: 12 </li>
      <li>State PMP: KS </li>
      <li>Person details: person with many prescriptions, providing a good example of a real person with one of the highest number of prescriptions in the system (no indication of medication abuse) </li>
    </ul>

    <hr/>
    <ul>
      <li>First Name: Dave </li>
      <li>Last Name: Testpatient </li>
      <li>DOB: 1900-01-01 </li>
      <li>Gender: Male </li>
      <li>Street Address: 832 Not Real Patient Dr  </li>
      <li>City: Witchita </li>
      <li>State: KS </li>
      <li>ZIP: 67203 </li>
      <li>Phone: ... </li>
      <li>Number of prescriptions: 15 </li>
      <li>State PMP: KS </li>
      <li>Person details: person with 15 prescriptions </li>
    </ul>

    <hr/>
    <ul>
      <li>First Name: Joann </li>
      <li>Last Name: Sample-Testpatient </li>
      <li>DOB: 1970-04-01 </li>
      <li>Gender: Female </li>
      <li>Street Address: 123 Clementine </li>
      <li>City: Cincinnati </li>
      <li>State: OH </li>
      <li>ZIP: 43215 </li>
      <li>Phone: 513-555-3434 </li>
      <li>Number of prescriptions: 6 </li>
      <li>State PMP: KS </li>
      <li>Person details: person who got married and/or divorced recently (hyphenated last name change) </li>
    </ul>

    <hr/>
    <ul>
      <li>First Name: Kara </li>
      <li>Last Name: Whitesides </li>
      <li>DOB: 1952-10-11 </li>
      <li>Gender: Female </li>
      <li>Street Address: 23230 SEAPORT </li>
      <li>City: AKRON </li>
      <li>State: OH </li>
      <li>ZIP: 44306 </li>
      <li>Phone: ... </li>
      <li>Number of prescriptions: 2 </li>
      <li>State PMP: KS </li>
      <li>Person details: person with 2 prescriptions </li>
    </ul>

    <hr/>
    <ul>
      <li>First Name: Nobody </li>
      <li>Last Name: Testpatient </li>
      <li>DOB: 1970-01-01 </li>
      <li>Gender: Male </li>
      <li>Street Address: 234 Street Three </li>
      <li>City: Home </li>
      <li>State: OH </li>
      <li>ZIP: 43215 </li>
      <li>Phone: 614-555-5678 </li>
      <li>Number of prescriptions: 0 </li>
      <li>State PMP: KS </li>
      <li>Person details: person with no prescription history (no data is returned) </li>
    </ul>

    <hr/>
    <ul>
      <li>First Name: Sherri </li>
      <li>Last Name: Maiden </li>
      <li>DOB: 1970-05-01 </li>
      <li>Gender: Female </li>
      <li>Street Address: 456 Snickers Street  </li>
      <li>City: Hershey </li>
      <li>State: OH </li>
      <li>ZIP: 43215 </li>
      <li>Phone: 513-555-4545 </li>
      <li>Number of prescriptions: 3 </li>
      <li>State PMP: KS </li>
      <li>Person details: person with 3 prescriptions; is NOT consolidated with Sherri Married (below) </li>
    </ul>

    <hr/>
    <ul>
      <li>First Name: Sherri </li>
      <li>Last Name: Married </li>
      <li>DOB: 1970-05-01 </li>
      <li>Gender: Female </li>
      <li>Street Address: 456 Snickers Street  </li>
      <li>City: Hershey </li>
      <li>State: OH </li>
      <li>ZIP: 43215 </li>
      <li>Phone: 513-555-4545 </li>
      <li>Number of prescriptions: 3 </li>
      <li>State PMP: KS </li>
      <li>Person details: results in a “Multiple Patients” response; results will NOT be provided </li>
    </ul>

    <hr/>
    <ul>
      <li>First Name: Steven </li>
      <li>Last Name: Testpatient </li>
      <li>DOB: 1970-03-01 </li>
      <li>Gender:Male </li>
      <li>Street Address: 123 Fone </li>
      <li>City: Home </li>
      <li>State: OH </li>
      <li>ZIP: 43215 </li>
      <li>Phone: 614-555-1234 </li>
      <li>Number of prescriptions: 1 </li>
      <li>State PMP: KS </li>
      <li>Person details: person with only one prescription</li>
    </ul>

  </div><!-- .method-copy -->

  <div class="method-code">
    <div class="method-example method-example-request-data">
    </div>
  </div><!-- .method-code -->
</section>

