<section class="method" id="intro">
  <div class="method-copy">
    <h1>Introduction</h1>
    <p>Welcome to the PMP Gateway NCPDP API documentation. This API reference provides information on available endpoints and how to interact with them.</p>
    <p>PMP Gateway is an API that simplifies integration of controlled substance prescription history into health IT systems. Using the PMP Gateway API, you can integrate patient prescription history data into your applications.</p>
	<h1>Overview</h1>
	<p>A "Client System" makes a request against PMP Gateway. The permissions of the system and Health care role of the user making the request are checked. If the request is not allowed by the PMP systems then the request will be stopped at gateway and a Disallowed response will be generated for those PMP systems. The request will be relayed to InterConnect which will forward it on to the state PMP systems. The responses are consolidated and sent back to the "Client System".</p>
    <p>This API is <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a>ful and uses XML formatted requests and responses.</p>
    <h3>Questions & Feedback</h3>
    <p>This documentation and all example code is available on GitHub. If you have questions or feedback the best way to contact us is to
      <%= link_to 'open an "issue"', 'https://github.com/Appriss-Operations/pmp_gateway_docs/issues', target: :_blank %>
      on our
      <%= link_to 'GitHub project space', 'https://github.com/Appriss-Operations/pmp_gateway_docs', target: :_blank %>.
    </p>
  </div><!-- .method-copy -->

  <div class="method-code">
    <div class="method-example">
      <p>Example code is provided for each API request. To get started, you can make requests against the testing environment using the code examples and the XML request data they reference.</p>
    </div>
  </div><!-- .method-code -->
</section>