<section class="method" id="authentication">
  <div class="method-copy">
    <h1>Authentication</h1>
    <p>All requests must be made over HTTPS. Calls made over plain HTTP will fail.</p>

    <p>This API uses <%= link_to 'basic HTTP authentication', 'https://en.wikipedia.org/wiki/Basic_access_authentication' %>, which means you must provide a username and password with every API request. Each username is linked to a Licensee account and there may be multiple API users per Licensee.</p>

    <p>Based on the user making the request and the destination PMP systems requested, PMP Gateway checks that:</p>
    <ol>
      <li>The Licensee is allowed to make a request against the destination PMP.</li>
      <li>The Health Care Provider Role specified in the request is allowed to make a request against the destination PMP.</li>
    </ol>
    <p>If either fail for a PMP, the request for that specific PMP is not forwarded on to PMP InterConnect.</p>

    <aside class="notice">Your username and password is provided to you by the Appriss Project Manager who is handling your account.</aside>
  </div><!-- .method-copy -->

  <div class="method-code">
  </div>
</section>
