<section class="method" id="endpoints">
  <div class="method-copy">
    <h1>API Endpoints</h1>
    <p>Two API endpoints are available: testing and production.</p>
    <p>The testing environment is populated with fake data and contains no real-world patient data. All testing and development should be done using this testing environment.</p>
    <p>The production environment contains real HIPAA protected patient data that must be handled properly.</p>
  </div><!-- .method-copy -->

  <div class="method-code">
    <div class="method-example method-example-definition">
      <h3>Testing API Endpoint</h3>
<% code('shell') do %>
https://gateway-test.pmp.appriss.com
<% end %>
    </div>

    <div class="method-example method-example-definition">
      <h3>Production API Endpoint</h3>
<% code('shell') do %>
https://pmpgateway.net
<% end %>
    </div>
  </div><!-- .method-code -->
</section>
