<section class="method" id="patient-response-error">
  <div class="method-copy">
    <h2>Error</h2>

    <p>If a technical problem prevents a Patient Request from being processed, the response will include an <code>&#60;Error&#62;</code> response element.</p>

    <p>If technical problem preventing the request from being processed, the response will be an error. This could be accompanied by an non-200 HTTP response code.</p>
    <%= partial 'patient_response__details' %>
  </div><!-- .method-copy -->

  <div class="method-code">
    <div class="method-example method-example-request-data">
      <h3>Example Request Data</h3>
      <p class="filename">patient_response__error.xml</p>
      <span class="download">
        <a href="./data/v5/patient_response__error.xml" download>download</a>
      </span>
      <% code('xml') do %>
        <% File.open("#{root}/source/data/v5/patient_response__error.xml", 'rb').read %>
      <% end %>
    </div>
  </div><!-- .method-code -->
</section>
