<div class="copy-group">
  <h3>Response Details</h3>
  <p>The <code>Pmp</code> node contains the state abbreviation for the PMP system which the response is for.</p>
  <p>The <code>Message</code> node will be a simple text explanation of what happened. This should be appropriate to display to users.</p>
  <p>The <code>Source</code> node describes where in the request lifecycle the error originated. This may be helpful in troubleshooting. For more information </p>
</div>
