<p> Patient prescription data is <%= link_to 'protected health information ', 'https://en.wikipedia.org/wiki/Protected_health_information' %>. Consequently, for each request, we need to log the health care provider making the request and the faclity where they work.</p>
