Physician<br>
Pharmacist<br>
Pharmacist with prescriptive authority<br>
Nurse Practitioner<br>
Psychologist with prescriptive authority<br>
Optometrist with prescriptive authority<br>
Naturopathic Physician with prescriptive authority<br>
Physician Assistant with prescriptive authority<br>
Medical Resident with prescriptive authority<br>
Medical Intern with prescriptive authority<br>
Dentist<br>

<p>
Our PMP Gateway roles are a subset of roles derived from interstate sharing via the state-run web portals. Delegates and non-prescribers are not used in integrations and are not allowed access via PMP Gateway.
</p>

<p>
Please note: Any additional roles listed in the PMP Gateway schema are a carry-over from the existing interstate data sharing system, PMPi, and are not applicable for EHR integration.
</p>