<section class="method" id="intro">
  <div class="method-copy">
    <h1>The American Society for Automation in Pharmacy (ASAP)</h1>
    <p>The Implementation Guide for ASAP Prescription Monitoring Program Web Service Standard can be downloaded from <a href="http://www.asapnet.org/">ASAP</a>
    </p>
	<p>Please note: </p>
	<p>Appriss PMP Gateway service does not support the pick-list or the automatic polling functionality outlined in the Implementation Guide for ASAP Prescription Monitoring Program Web Service Standard.  Appriss PMP Gateway service only supports the ad hoc query functionality.</p>
	<p></p>
	<p></p>
	<p>Test and Production Endpoints for the ASAP WSDL/Schema</p>
	<ul>
		<li>	Test/Pre-production:	</li>
				https://gateway-prep.pmp.appriss.com/asap_service/PMPRequestService?wsdl 
		<li>	Production:				</li>	 
				https://pmpgateway.net/asap_service/PMPRequestService?WSDL 
	</ul>
	</p>
  </div><!-- .method-copy -->
</section>