<section class="method" id="intro">
  <div class="method-copy">
    <h1>The American Society for Automation in Pharmacy (ASAP)</h1>
    <p>The Implementation Guide for ASAP Prescription Monitoring Program Web Service Standard can be downloaded from <a href="http://www.asapnet.org/">ASAP</a>
    </p>
  </div><!-- .method-copy -->
</section>