<div class="side-nav">
  <%= partial 'versions_nav' %>

  <ul class="toc">
    <li class="active">
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#intro">The American Society for Automation in Pharmacy (ASAP)</a>
    </li>
  </ul>
</div>
