<section class="method" id="responses">
  <div class="method-copy">
    <h1>Gateway Responses</h1>

    <div class="schema-files">
      <p>Schema files:</p>
      <ul class="schema-files">
        <li><%= link_to 'gateway_response_schema.xsd', './data/gateway_response_schema.xsd' %></li>
        <li><%= link_to 'gateway_constraints.xsd', './data/gateway_constraints.xsd' %></li>
        <li><%= link_to 'gateway_response_types.xsd', './data/gateway_response_types.xsd' %></li>
      </ul>
    </div>

    <p>Because of the distributed <%= link_to 'architecture of the PMP system', '#architecture' %>, there are many factors which impact the response to a Gateway request. This section explains some of the common responses and what they mean.</p>
  </div><!-- .method-copy -->

  <div class="method-code">
  </div><!-- .method-code -->
</section>
