<header>
  <div class="logo">
    <%= link_to (image_tag 'narxcheck_logo.png', alt: 'NARxCHECK Logo', class: 'logo'), 'index.html' %>
  </div>
  <nav>
    <ul>
      <li><%= active_link_to 'API Documentation', 'index.html' %></li>
      <li><%= active_link_to 'FAQs', 'faqs.html' %></li>
      <li><%= link_to 'GitHub', 'https://github.com/Appriss-Operations/narxcheck_docs' %></li>
    </ul>
  </nav>
</header>
