<header>
  <div class="logo">
    <%#= link_to (image_tag 'gateway_logo.png', alt: 'PMP Gateway Logo', class: 'logo'), 'index.html' %>
    <h1 class="brand"><%= link_to 'PMP Gateway', 'index.html' %></h1>
  </div>
  <nav>
    <ul>
      <li><%= active_link_to 'API Documentation', 'index.html' %></li>
      <li><%= active_link_to 'FAQs', 'faqs.html' %></li>
      <li><%= link_to 'GitHub', 'https://github.com/Appriss-Operations/pmp_gateway_docs' %></li>
    </ul>
  </nav>
</header>
