<header>
  <div class="logo">
    <h1 class="brand"><%= link_to 'PMP Gateway', '/index.html' %></h1>
  </div>
  <nav>
    <ul>
      <li><%= link_to 'API Documentation', '/index.html', class: (current_path.start_with?('v') ? 'active' : '') %></li>
      <li><%= link_to 'FAQs', '/faqs.html', class: (current_path.end_with?('faqs.html') ? 'active' : '') %></li>
    </ul>
  </nav>
</header>
