<header>
  <div class="logo">
    <%= link_to (image_tag 'narxcheck_logo.png', alt: 'NARxCHECK Logo', class: 'logo'), 'http://appriss-operations.github.io/narxcheck_docs/' %>
  </div>
  <nav>
    <ul>
      <li><%= link_to 'API Documentation', '/index.html' %></li>
      <li><%= link_to 'FAQs', '/faqs.html' %></li>
      <li><%= link_to 'GitHub', 'https://github.com/Appriss-Operations/narxcheck_docs' %></li>
    </ul>
  </nav>
</header>
