<section class="method" id="intro">
  <div class="method-copy">
    <h1>Introduction</h1>
    <p>Welcome to the NARxCHECK API documentation. This API reference provides information on available endpoints and how to interact with it.</p>
    <p>Using the NARxCHECK API, you can integrate NARxCHECK scores and reports into your applications.</p>
    <p>The NARxCHECK API is <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a>ful and uses XML formatted requests and responses.</p>
    <h3>Questions & Feedback</h3>
    <p>This documentation and all example code is available on GitHub. If you have questions or feedback the best way to contact us is to open an issue on <%= link_to 'our GitHub project space', 'https://github.com/Appriss-Operations/narxcheck_docs' %>.</p>
  </div><!-- .method-copy -->

  <div class="method-code">
    <div class="method-example">
      <p>Example code is provided for each API request. Using the code examples and the XML data they reference, you can make requests against the testing environment.</p>
    </div>
  </div><!-- .method-code -->
</section>