<section class="method" id="intro">
  <div class="method-copy">
    <h1>Introduction</h1>
    <p>Welcome to the NARxCHECK API documentation. This API reference provides information on available endpoints and how to interact with it.</p>
    <p>Using the NARxCHECK API, you can integrate NARxCHECK scores and reports into your applications.</p>
    <p>The NARxCHECK API is <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a>ful and uses XML formatted requests and responses.</p>
    <p>All code examples in this documentation use the testing API endpoint.</p>
  </div>
  <div class="method-code">
  </div>
</section>