<section class="method" id="report-request-errors">
  <div class="method-copy">
    <h2>Errors</h2>
    <p>NARxCHECK uses conventional HTTP response codes to indicate the success or failure of an API request. In general, codes in the 2xx range indicate success, codes in the 4xx range indicate an error that resulted from the provided information (e.g. a required parameter was missing, etc.), and codes in the 5xx range indicate an error with the NARxCHECK servers.</p>

    <table>
      <tbody>
        <tr>
          <td>200 OK</td>
          <td>Everything worked as expected.</td>
        </tr>
        <tr>
          <td>400 Bad Request</td>
          <td>Often missing a required parameter.</td>
        </tr>
        <tr>
          <td>401 Unauthorized</td>
          <td>Invalid login credentials provided.</td>
        </tr>
        <tr>
          <td>404 Not Found</td>
          <td>The report has expired.</td>
        </tr>
        <tr>
          <td>500 Internal Server Error</td>
          <td>Something went wrong. The response body will include information on why it failed.</td>
        </tr>
        <tr>
          <td>504 Gateway Timeout</td>
          <td>The report is not yet generated.</td>
        </tr>
      <tbody>
    </table>

  </div>
  <div class="method-code">
  </div>
</section>
