<section class="method" id="report-request">
  <div class="method-copy">
    <h1>Report Request</h1>

    <p>
      Schema files:<br />
      <%= link_to 'report_request_schema.xsd', './data/report_request_schema.xsd' %><br />
      <%= link_to 'request_constraints.xsd', './data/request_constraints.xsd' %>
    </p>

    <p>To make a report request, you must first make a successful <%= link_to 'score request', '#score-request' %>. The response to the score request will include the URL where you send report requests.</p>

    <p>A report request should include the following information:</p>
    <ul>
      <li><strong>provider</strong>: person viewing the report</li>
      <li><strong>location</strong> of the provider</li>
    </ul>
    <p>If the request is successul, the response will include a NARxCHECK report.</p>

    <p>Reports can be returned in two ways. You specify the method by including or excluding the <code><%= escape_html '<ReportLink />' %></code> element from your request. If you exclude it, the report will be returned as raw HTML. If you include it, the response will include a URL where the report can be accessed once.</p>
  </div><!-- .method-copy -->

  <div class="method-code">
    <div class="method-example method-example-definition">
      <h3>Definition</h3>
<% code('shell') do %>
POST https://gateway-prep.pmp.appriss.com/narxreport/{REPORT_ID}.html
<% end %>
    </div>
  </div>
</section>
