<section class="method" id="responses-disallowed">
  <div class="method-copy">
    <h2>Disallowed</h2>
    <p>Your account with PMP Gateway does not have permission to query the specified PMP system.</p>
    <p>Because of the distributed architecture of the PMP system, each PMP has its own administrator who manages permissions. To gain permission to query a specific PMP, contact the Appriss Project Manager who handles your account. Our project managers work with the PMP administrators to manage permissions requests.</p>
  </div><!-- .method-copy -->

  <div class="method-code">
    <div class="method-example method-example-request-data">
      <h3>Example Request Data</h3>
      <p class="filename">response__disallowed.xml</p>
      <span class="download">
        <a href="./data/response__disallowed.xml" download>download</a>
      </span>
      <% code('xml') do %>
        <% File.open("#{root}/source/data/response__disallowed.xml", 'rb').read %>
      <% end %>
    </div>
  </div><!-- .method-code -->
</section>
