<section class="method" id="scores-request-comprehensive">
  <div class="method-copy">
    <h2>Comprehensive Example</h2>
    <p>The Scores Request has many optional data elements. Additionally, some elements are conditional, meaning that your request must include at least one element out of a set of possible elements.</p>
    <p>This example includes all required elements and most of the optional elements. For conditional elements, this example includes all possible options. There are notes where conditional elements are present.</p>
    <p>Note: Some optional elements have been ommitted because they are not useful for the vast majority of users. For more information on these rarely used elements, consult the <%= link_to 'Scores Request XML schema', './scores_request_schema.xsd' %>.</p>
  </div><!-- .method-copy -->

  <div class="method-code">
    <div class="method-example method-example-definition">
      <p>Definition</p>
<% code('shell') do %>
POST https://gateway-prep.pmp.appriss.com/narx/request/simple
<% end %>
    </div>

    <div class="method-example method-example-request">
    <p>Example Request</p>
<% code('shell') do %>
curl https://gateway-prep.pmp.appriss.com/narx/request/simple \
  -u username:password \
  -H "Content-Type: application/xml" \
  -H "Accept: application/xml" \
  -d @scores_request_comprehensive.xml
<% end %>
    </div>

    <div class="method-example method-example-request-data">
      <p>Example Request Data</p>
    <!-- <span class="code-block-label">scores_request_comprehensive.xml</span> -->
<% code('xml') do %>
  <% File.open("#{root}/source/scores_request_comprehensive.xml", 'rb').read %>
<% end %>
    </div>

    <div class="method-example method-example-request-data">
      <p>Example Response</p>
<% code('xml') do %>
<?xml version="1.0" encoding="UTF-8"?>
<NarxScoreResponse xmlns="http://xml.appriss.com/gateway">
  <NarxRequestId>55657</NarxRequestId>
  <Response>
    <Pmp>KS</Pmp>
    <NoData>
      <Message>No data.</Message>
      <Details><![CDATA[No Data Found.]]></Details>
      <Source>PMP</Source>
    </NoData>
  </Response>
</NarxScoreResponse>
<% end %>
    </div>
  </div><!-- .method-code -->
</section>
