<div class="side-nav">
  <div class-"logo-container">
    <%= image_tag 'narxcheck_logo.png', alt: 'NARxCHECK Logo' %>
  </div>
  <h5 class="sidebar-nav-heading">API</h5>
  <ul class="toc">
    <li><a class="sidebar-nav-item" href="#intro">Introduction</a></li>
    <li><a class="sidebar-nav-item" href="#authentication">Authentication</a></li>
    <li><a class="sidebar-nav-item" href="#endpoints">Endpoints</a></li>
    <li>
      <a class="sidebar-nav-item" href="#scores-request">Scores Request</a>
      <ul class="sidebar-nav-items">
        <li><a class="sidebar-nav-item" href="#scores-request-errors">Errors</a></li>
        <li><a class="sidebar-nav-item" href="#scores-request-simple">Simple Example</a></li>
        <li><a class="sidebar-nav-item" href="#scores-request-comprehensive">Comprehensive Example</a></li>
      </ul>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#report-request">Report Request</a>
      <ul class="sidebar-nav-items">
        <li><a class="sidebar-nav-item" href="#report-request-errors">Errors</a></li>
        <li><a class="sidebar-nav-item" href="#report-request-simple">Simple Example</a></li>
        <li><a class="sidebar-nav-item" href="#report-request-comprehensive">Comprehensive Example</a></li>
      </ul>
    </li>
  </ul>
  <div class="links">
    <ul>
      <li><%= link_to 'GitHub', 'https://appriss-operations.github.io/narxcheck_docs' %></li>
      <li><%= link_to 'NARxCHECK', 'http://www.appriss.com/narxcheck.html' %></li>
    </ul>
  </div>
</div>
