<div class="side-nav">
  <ul class="toc">
    <li>
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#intro">Introduction</a>
    </li>
    <li>
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#authentication">Authentication</a>
    </li>
    <li>
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#endpoints">Endpoints</a>
    </li>
    <li>
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#errors">Errors</a>
    </li>
    <li>
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#gateway-request">Gateway Request</a>
      <ul class="sidebar-nav-items">
        <li>
          <span class="active-marker">&nbsp;</span>
          <a class="sidebar-nav-item" href="#gateway-request-minimal">Minimal Example</a>
        </li>
      </ul>
    </li>
    <li>
      <span class="active-marker">&nbsp;</span>
      <a class="sidebar-nav-item" href="#responses">Gateway Responses</a>
      <ul class="sidebar-nav-items">
        <li>
          <span class="active-marker">&nbsp;</span>
          <a class="sidebar-nav-item" href="#responses-no-data">No Data</a>
        </li>
        <li>
          <span class="active-marker">&nbsp;</span>
          <a class="sidebar-nav-item" href="#responses-error">Error</a>
        </li>
        <li>
          <span class="active-marker">&nbsp;</span>
          <a class="sidebar-nav-item" href="#responses-disallowed">Disallowed</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
