<ul class="api-versions">
  <li><%= link_to_active 'v5', '../v5/', active_path: ['index.html', 'v5/index.html'] %></li>
  <li><%= link_to_active 'v4', '../v4/', active_path: 'v4/index.html' %></li>
</ul>